# Node modules
/node_modules
/na-porta-api/node_modules

# Build output
/dist
/na-porta-api/dist
/build
/na-porta-api/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Coverage
/coverage
/na-porta-api/coverage
/.nyc_output

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode settings (keep only settings, tasks, launch and extensions)
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Temp files
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
